<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script crossorigin="anonymous" integrity="sha384-OZmxTjkv7EQo5XDMPAmIkkvywVeXw59YyYh6zq8UKfkbor13jS+5p8qMTBSA1q+F"
    src="https://lib.baomitu.com/vue/2.6.11/vue.min.js"></script>
</head>

<body>
  <div id="app">
    <div v-if="isShow">
      <p>昵称：<input type="text" v-model="name"></p>
      <p>房间号：<input type="text" v-model="roomid"></p>
      <button type="button" @click="enter()">进入聊天室</button>
    </div>

    <div v-else>
      <ul v-if="lists">
        <li v-for="(item,index) in lists" :key="'message'+index">{{item}}</li>
        <li>在线人数{{num}}</li>
      </ul>
      <div class="ctrl">
        <!--输入框-->
        <input type="text" id="msg" v-model="message">

        <button type="button" @click="send()">发送</button>
        <button type="button" @click="close()">关闭websocket</button>
      </div>
    </div>
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        name: '',
        message: '',
        lists: [],
        ws: {},
        isShow: true,
        num: 0,
        roomid: ''
      },
      mounted() {
        this.ws = new WebSocket('ws://127.0.0.1:3000');
        this.ws.onopen = this.onOpen;
        this.ws.onmessage = this.onMessage;
        this.ws.onclose = this.onClose; //  当链接主动断开时触发close事件
        this.ws.onerror = this.onError; // 当连接失败时 触发error事件
      },
      methods: {
        onOpen: function () {
          console.log('open:' + this.ws.readyState)
          //ws.send('Hello from client!')
        },
        onMessage: function (event) {

          //当用户未进入聊天室，则不接收消息
          if (this.isShow) {
            return
          }
          // 接收服务端发送过来的蛾消息
          var obj = JSON.parse(event.data)
          if (obj.event === 'enter') {
            // 当又一个新的用户进入聊天室时
            this.lists.push('欢迎：' + obj.message + '加入聊天室 房间' + obj.roomid)
          } else if (obj.event === 'out') {
            this.lists.push(obj.name + "已经退出了聊天室")

          } else {
            if (obj.name !== this.name) {
              //接收正常的聊天
              this.lists.push(obj.name + ":" + obj.message)
            }

          }
          this.num = obj.num;
          console.log('message:' + this.ws.readyState)
          console.log(event.data)

        },
        onClose: function () {
          console.log('close:' + this.ws.readyState);
          console.log('已关闭websocket')
        },
        onError: function () {
          console.log('error:' + this.ws.readyState);
          console.log('websocket连接失败')
        },
        //发送消息
        send: function () {
          this.lists.push('我:' + this.message);
          this.ws.send(JSON.stringify({
            event: 'message',
            message: this.message
          }))
          this.message = ''

        },
        close: function () {

          this.ws.close();
        },

        enter: function () {
          if (this.name.trim() === '') {
            alert('用户名不得为空')
            return
          }
          this.isShow = false;
          this.ws.send(JSON.stringify({
            event: 'enter',
            message: this.name,
            roomid: this.roomid
          }))

        }
      }
    })
  </script>
</body>

</html>